<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-02-05T08:40:47Z</date>
	<key>WorkspacePath</key>
	<string>/Users/1ssem0/Documents/CodePath iOS W21/Prework/Prework.xcodeproj</string>
</dict>
</plist>
